
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BookingVcmReport.CssVcmBaoCaoDanhSachPOSapNhan.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new eLink.BookingVcmReport.CssVcmBaoCaoDanhSachPOSapNhanGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>

<script type="text/javascript">
     var time = new Date().getTime();
     $(document.body).bind("mousemove keypress", function(e) {
         time = new Date().getTime();
     });

     function refresh() {
         if(new Date().getTime() - time >= 300000)
             window.location.reload(true);
         else
             setTimeout(refresh, 10000);
     }

     setTimeout(refresh, 10000);
</script>