
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.QuanLyHocSinh.QuanLyHocSinh.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new eLink.QuanLyHocSinh.QuanLyHocSinhGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>