{
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=10.0.2.17;Initial Catalog=eLink_Default_v1;User ID=updatedata;Password=upd@ted@t@;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.CSS_VCM_DANH_SACH_PO",
                    "Identifier": "CssVcmDanhSachPo",
                    "Module": "BookingVcmReport",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.CSS_VCM_DANH_SACH_PO_DET",
                    "Identifier": "CssVcmDanhSachPo",
                    "Module": "BookingVcmReport",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                },
                {
                    "Tablename": "dbo.QUAN_LY_HOC_SINH",
                    "Identifier": "QuanLyHocSinh",
                    "Module": "QuanLyHocSinh",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Adminstration"
                },
                {
                    "Tablename": "dbo.CSS_VCM_BAO_CAO_NCC",
                    "Identifier": "CssVcmBaoCaoNcc",
                    "Module": "BookingVcmReport",
                    "ConnectionKey": "Default",
                    "PermissionKey": "Administration"
                }
            ]
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=10.0.2.17;Initial Catalog=eLink_Northwind_v1;User ID=updatedata;Password=upd@ted@t@;",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\eLink\\eLink.Web\\eLink.Web.csproj",
    "RootNamespace": "eLink",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "GenerateSSImports": false,
    "GenerateTSTypings": true,
    "GenerateTSCode": true,
    "RowFieldsSurroundWithRegion": false,
    "GenerateRow": true,
    "GenerateColumn": true,
    "GenerateForm": true,
    "GenerateEndpoint": true,
    "GenerateRepository": true,
    "GeneratePage": true,
    "GenerateGrid": true,
    "GenerateDialog": true,
    "GenerateGridEditor": false,
    "GenerateGridEditorDialog": false,
    "GenerateLookupEditor": false,
    "MaximizableDialog": false
}