
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.BookingVcmReport.CssVcmDanhSachPo.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new eLink.BookingVcmReport.CssVcmDanhSachPoGrid_NCCHenGiao($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>